@model Product
﻿@{

}

<div class="box box-primary">
    <div class="box-header with-border ">
        <h3 class="box-title">Thông tin mặt hàng</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/Product/Save" method="post" enctype="multipart/form-data">
            <input type="hidden" name="@nameof(Model.ProductID)" value="@Model.ProductID" />
            <div class="form-group">
                <label class="control-label col-sm-2">Tên mặt hàng:</label>
                <div class="col-sm-10">
                    <input name="@nameof(Model.ProductName)" value="@Model.ProductName" type="text" class="form-control" autofocus placeholder="Nhập tên mặt hàng...">
                    <p class="text-danger">@Html.ValidationMessage(nameof(Model.ProductName))</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10">
                    <input name="@nameof(Model.ProductDescription)" value="@Model.ProductDescription" type="text" class="form-control" rows="3" placeholder="Nhập mô tả..."/>
                    
                    <p class="text-danger">@Html.ValidationMessage(nameof(Model.ProductDescription))</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Loại hàng:</label>
                <div class="col-sm-10">
                    <select name="@nameof(Model.CategoryID)" class="form-control">
                        <option>-- Loại hàng --</option>
                        @if (ViewBag.Category != null)
                        {
                            @foreach (var item in ViewBag.Category)
                            {
                                @if (item.CategoryId == Model.CategoryID)
                                {
                                    <option value="@item.CategoryId" selected>@item.CategoryName</option>
                                }
                                else
                                {
                                    <option value="@item.CategoryId">@item.CategoryName</option>
                                }
                            }
                        }


                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Nhà cung cấp:</label>
                <div class="col-sm-10">
                    <select name="@nameof(Model.SupplierID)" class="form-control">
                        <option>-- Nhà cung cấp --</option>
                        @if (ViewBag.Supplier != null)
                        {
                            @foreach (Supplier item in ViewBag.Supplier)
                            {
                                @if (item.SupplierId == Model.SupplierID)
                                {
                                    <option value="@item.SupplierId" selected>@item.SupplierName</option>
                                }
                                else
                                {
                                    <option value="@item.SupplierId">@item.SupplierName</option>
                                }
                            }
                        }

                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Đơn vị tính:</label>
                <div class="col-sm-10">
                    <input name="@nameof(Model.Unit)" value="@Model.Unit" type="text" class="form-control" placeholder="Nhập đơn vị tính...">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Giá hàng:</label>
                <div class="col-sm-10">
                    <input name="@nameof(Model.Price)" value="@Model.Price" type="text" class="form-control" placeholder="Nhập giá hàng...">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input name="@nameof(Model.IsSelling)" value="@Model.IsSelling" type="checkbox" value="true" checked>Hiện đang được bán</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh minh họa:</label>
                <div class="col-sm-10">
                    <input type="hidden" name="@nameof(Model.Photo)" value="@Model.Photo" />
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <img id="Photo" src="~/images/products/@Model.Photo" class="img img-bordered" style="width:200px" alt="NoPhoto" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-warning" href="~/Product">
                        Quay lại
                    </a>
                </div>
            </div>
        </form>

    </div>

</div>


<div class="box box-info">
    <div class="box-header with-border ">
        <h3 class="box-title">Thư viện ảnh</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="bg-gray">
                    <th width="10%">Ảnh</th>
                    <th>Mô tả/tiêu đề</th>
                    <th width="10%">Thứ tự hiển thị</th>
                    <th width="5%">Ẩn ảnh</th>
                    <th class="text-right" width="10%">
                        <a class="btn btn-xs btn-primary" href="~/Product/Photo/@Model.ProductID?method=add">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Photo != null)
                {
                    foreach (ProductPhoto item in ViewBag.Photo)
                    {
                        <tr>
                            <td style="vertical-align:middle">
                                <img src="~/images/products/@item.Photo" alt="MacBookPro" style="width:100px" />
                            </td>
                            <td style="vertical-align:middle;">
                                @item.Description
                            </td>
                            <td style="vertical-align:middle;">@item.DisplayOrder</td>
                            <td style="vertical-align:middle;">@item.IsHidden</td>
                            <td style="vertical-align:middle; text-align:right">
                                <a class="btn btn-xs btn-primary" href="~/Product/Photo/@Model.ProductID?method=edit&photoId=@item.PhotoID">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-xs btn-danger" href="~/Product/Photo/@Model.ProductID?method=delete&photoId=@item.PhotoID" onclick="return confirm('Xóa ảnh của mặt hàng hay không?')">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">Không có dữ liệu</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<div class="box box-info">

    <div class="box-header with-border ">
        <h3 class="box-title">Thuộc tính của mặt hàng</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="bg-gray">
                    <th>Tên thuộc tính</th>
                    <th>Giá trị thuộc tính</th>
                    <th>Thứ tự hiển thị</th>
                    <th class="text-right">
                        <a class="btn btn-xs btn-primary" href="~/Product/Attribute/@Model.ProductID?method=add">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Attribute != null)
                {
                    foreach (ProductAttribute item in ViewBag.Attribute)
                    {
                        <tr>
                            <td style="vertical-align:middle">@item.AttributeName</td>
                            <td style="vertical-align:middle;">@item.AttributeValue</td>
                            <td style="vertical-align:middle;">@item.DisplayOrder</td>
                            <td style="vertical-align:middle; text-align:right">
                                <a class="btn btn-xs btn-primary" href="~/Product/Attribute/@Model.ProductID?method=edit&attributeId=@item.AttributeID">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-xs btn-danger" href="~/Product/Attribute/@Model.ProductID?method=delete&attributeId=@item.AttributeID" onclick="return confirm('Xóa thuộc tính này của mặt hàng?')">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <th colspan="4" class="text-center">Không có dữ liệu</th>
                    </tr>
                }
        </table>
    </div>
    <div class="box-footer text-center">
    </div>

</div>